body{
	background: #fff;
}

*{
	padding:0px;
	margin: 0px;
}

.content{
	width: 100%;
	font-family: "Times New Roman", Times, serif;

}
.main{
	padding: 20px;	
	box-sizing: border-box;
}
.main img{
	width: 100%;
	height: auto;
}
.main p{
	text-align: justify;
	padding: 20px;
	font-size: 17px;
}
.main h2{
	text-align: center;
}

header{
	width: 100%;
	background-color: #02547D;
	padding: 0px;
	font-size: 18px;
}

.menu ul{
	display: flex;
	list-style: none;
	justify-content: center;

}

.menu li a{
	display: block; /*para poder darle padding*/
	padding: 10px;	
	color: white;
	text-decoration: none;

}

.menu li:hover{
	background-color: #02BEC4;
	
}


@media (max-width: 535px){
	.menu ul{
		flex-direction: column;
	}
}
form
{      
   padding:4px;  
   display:block;
   width:290px;
   margin:auto;
   text-align:left;   
}
/*Para el formulario*/
form h2, label, input, button, p{
	 padding:5px; 
	 margin: 15px;
}

.footer{
 	background-color: #A9E8DC; 		 
 	width: 100%;  
 	margin-top: 74px;

 	/*position: fixed;	*/
 }

.footer ul{
	display: flex;
	list-style: none;
	justify-content: center;
}

.footer li {
	display: block; /*para poder darle padding*/
	padding: 10px;	
	color: black;
	text-decoration: none;
}

.footer img{
	max-width: 15px;
}
.img-email{
	max-width: 15px;
}



