body{
	background: #fff;
}

*{
	padding:0px;
	margin: 0px;
}

.content{
	width: 100%;
	font-family: "Times New Roman", Times, serif;
}
.main{
	padding: 20px;	
	box-sizing: border-box;
}
.main img{
	width: 100%;
	height: auto;
}
.main p{
	text-align: center;
	padding: 20px;
	font-size: 17px;
}
.main h2, h1{
	text-align: center;
	margin:20px;
	color: #512da8;
}
.main span{
	font-weight: bold;	
}

header{
	width: 100%;
	background-color: #02547D;
	padding: 0px;
	font-size: 18px;
}

.menu ul{
	display: flex;
	list-style: none;
	justify-content: center;

}

.menu li a{
	display: block; /*with this I can give padding*/
	padding: 10px;	
	color: white;
	text-decoration: none;
}

.menu li:hover{
	background-color: #003e73;	
}

form
{      
   display:block;
   width:290px;
   margin:auto;
   text-align:left;   
}
/*For the form*/
form h2, label, input, button, p{
	 padding:5px; 
	 margin: 10px;
}

form button{
	border-radius: 5px;
}
form h2{
	color: #512da8;

}
.footer{
 	background-color: #A9E8DC; 		 
 	width: 100%;  
 	margin-top: 76px; 	
 }

.footer ul{
	display: flex;
	list-style: none;
	justify-content: center;
}

.footer li {
	display: block; /*with this I can give padding*/
	padding: 18px;	
	color: black;
	text-decoration: none;
}

#btn-result{
	border-color: #9c27b0;
}


@media (max-width: 535px){
	.menu ul{
		flex-direction: column;
	}
}





